body {
	/*background-image:url(../assets/img/h.jpg);*/
	margin-top: 20px;
	background-color: white;
}

.container {
	height: 200px;
    width: 200px;
    margin: left;
    padding: 43px;
    background-color: rgba(39, 71, 71, 0.9);
}

